@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");



* {
  box-sizing: border-box;
}


body {
  background-color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  height: auto;
  margin: 0;
  width: 100%;
  background-image: url(../img/fondo-mobile.png);
  background-repeat: repeat;
}

.audio{
  margin: 5px 10px;
  display: flex;
  justify-content: flex-start;
}

.button-volume{
  background: rgba(0, 0, 0, 0);
  border:0;
  font-size: 0.8em;
}

.fontLatoLabel {
  font-family: 'Lato', sans-serif !important;
  color: #707070;
  font-weight: 600;
  font-size: 0.9em;
}

.fontLatoFaq {
  font-family: 'Lato', sans-serif !important;
  color: #707070;
  font-weight: 600;
  text-decoration: none;
}

.fontLatoFaq:hover {
  color: #6A6FF7;
  text-decoration: none;
}

.fontLatoFaq:focus {
  color: #6A6FF7;
  text-decoration: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;

}


/* navbar */
header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
}

.main-nav{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.nav-profile-ico{
  position: absolute;
  top:11px;
  left: 10px;
}

.toggle-nav{
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 998;
}

.nav-profile-ico a{
  vertical-align: middle;
  padding: 4px 3px;
  color: black;

}

.material-icons{
  color: black;
  font-size: 2em;
}

.rating>i.estrellita {
  color:#A8A8A8 !important;
}

i.estrellita.active {
  color:#FFD37A !important;
}
/*.nav-profile {
display: none;
}

.nav-profile li{
display: none;
}
*/
.nav-access li{
  display: none;
}

.toggle-nav{
  transform: scale(1.2);
  color: black;
}

.btn-link{
  text-decoration: none;
}

.dropdown-menu  {
  color:#FFFFFF;
  background-color: #6A6FF7;
}

.dropdown-item li a {
  color:#FFFFFF;
}

/*sidebar*/

.overlay.active {
  position: absolute;
  top: 0;
  left: o;
  z-index: 993;
  display: block;
  opacity: 1;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
/*  overflow-y: scroll;*/
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  color: #5970d1;
}

.menu-perfil a {
  color:#FFFFFF;
  background-color: #7386D5;
  font-size:1.2em;
}

.menu-perfil a:hover {
  color: #5970d1;
  text-decoration: none;
  font-size:1.2em;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 995;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#stylesheet1{
display: none;
}

/* FINAL navbar*/

/* INICIO index*/

.container-ppal {
  max-width: 540px;
  margin: 0 auto;
}

.container-section{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.h1-index{
  font-size: 2em;
  font-weight: bold;
  color: #707070;
  margin:20px;
}

.h1-profile{
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  font-variant:normal;
  font-style: normal;
  color: #A2FDC6;
  margin-top: 30px;
}

.sub-ppal{
  color: #B3B3B3;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10%;
}

.sub-ppal a{
  color: #8F93F5;
}

.button-play{
  background-color: #8F93F5;
  width: 100px;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.button-play a{
  color: white;
  vertical-align: middle;
  padding-bottom: 5px;
  text-decoration: none;
  
}

.image-mobile{
  display: flex;
}

.image-mobile img{
  width: 90%;
  margin: auto;
}

.image-t-desktop{
  display: none;
}

/*FINAL index*/

/*INICIO about*/

.container-about {
  background-color: #6A6FF7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top:10%;
}

.h2-about{
  color: white;
  font-weight: bold;
  font-size: 1.8em;
  margin-top:10%;
  text-align: center;
}

.carrousel-mobile{
  width: 100vw;
  height: 60vh;
  display: block;
  margin-bottom: 25px;
}

.card-img-top{
  width:65%;
  margin:auto;
  margin-top:5%;
}

.carrousel-tablet-desktop{
  display: none
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin:10px 5px 10px ;
}

/*FINAL about*/

/*INICIO footer*/

footer{
  position:relative;
  bottom:10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.h4-footer{
  font-size: 1em;
  color: #000000;
}

/*FINAL footer*/

/* FAQ's */
.container{
  padding:0;
}

.containerPreguntas{
  background-color: #6A6FF7;
  padding: 0;
  margin-top: 15%;
  margin-bottom: 5%;
  width: 100vw;
}

.containerPreguntas h1{
  color: #F1F1F1;
  font-size: 1.8em;
  font-weight: bold;
  margin: auto;
  margin-top: 1%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.card, .card-header{
  border-radius: 25px;
}

.margenIzq{
  margin-left: 1%;
}

.buscador{
  width: 68vw;
  margin:10px;
  margin-right: 0px;
  font-size: 1em;
}

.buscadorEnviar{
  width: 15vw;

}
/*final FAQ's*/

/*INICIO Perfil*/
.sectionPerfil{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.foto-perfil img{
  width:150px;
}


/*FINAL Perfil*/

/*Principio Register*/
.container-register{
  background-image: url("../img/home/background-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-control {
  border-radius: 1.25rem;
}

.custom-file-input, .custom-file-label, .custom-file-label{
  border-radius: 20px;
}

.custom-file-label::after {
  content: "buscar";
  border-radius: 0 20px 20px 0;
}


/*Login*/

.containerLogin {
  width: 50vw;
  height: 85vh;
  margin: 0 ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

}

.inputLogin{
  background-color: #CDE9FF;
  border-radius: 25px;
  text-align: center;
  width: 50vw;
  height: 40px;
}

.inputLogin:focus{
  background-color: #6A6FF7;
}

.centrar-reg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (min-width: 768px){
  .containerLoginV2 {
    height: 80vh;
  }
  /*final Login*/


  /*INICIO navbar*/
  .navLink a {
    text-decoration: none;
  }

  .navLink:hover {
    background: #ccc;
  }

  .nav-profile {
    color:#FFFFFF;
    background-color: #6A6FF7;
    z-index: 998;

  }

  .dropdown-menu  :hover {
    background-color: #6A6FF7;
  }

  .nav-profile a {
    text-decoration: none;
  }



  /*FINAL navbar*/


  .tituloJuego{
    margin: auto;
  }

  .br-movil{
    display: flex;
  }

  .h1-register{
    text-align: center;
    font-family: sans-serif;
  }

  .h2-register{
    text-align: center;
    font-family: sans-serif;
  }

  .formulario-register{
    text-align: right;
    font-family: sans-serif;
  }



  /*final Register*/

  /*principio perfil*/

  .sectionPerfil{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
  }

  .tituloPerfil{
    margin-top: 2%;
  }

  .foto-perfil{
    margin: 2% 0;
  }

  .nombre-perfil {
    font-size: 1.2em;
    font-weight: bold;
  }

  .email-perfil{
    font-size: 1em;
  }
  .puntaje-perfil{
    margin-top: 2%;
  }
  .estrellas-perfil {
    margin-top: 2%;

  }
  /*final perfil*/

  /* Inicio questions admin*/

  h5.bootstrap {
    margin: 15px auto;
  }
  .respuestaGrupo {
    text-align: center !important;
    padding: 0;
  }
  .respuestaGrupo label {
    display: block !important;
  }
  .search {
    background: #F1F1F1;
    border-radius: 20px;
    border: none;
    height: 35px;
  }
  .agregar {
    background: #8F93F5;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 35px;
  }
  .search-container {
    padding: 0;
    margin: 0;
    height: 35px;
  }
  .input-search {
    border: none;
    background: none;
    height: 35px;
    font-size: 18px;
  }
  .input-search:hover, .input-search:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
  .celeste {
    background-color: #CDE9FF;
    font-weight: bold;
    margin: 5px 0px;
  }

  /* Final questions admin*/
}

/* Inicio Ranking desktop*/
@media (min-width:768px) {
  .input-search {
    width: 500px;
  }
  .respuestaGrupo {
    display: inline-block !important;
    padding: 20px !important;
  }
  .blank-wrapper {
    margin-top: 100px;
    width: 900px;
    margin: 100px auto;
    border-radius: 40px;
    padding: 40px !important;
  }
  .user-img {
    margin: 20px;
  }
  .titulo-seccion {
    margin: 50px auto;
  }

  /* Final Ranking desktop */

  body{
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
  }

  /*INICIO navbar*/
  .main-nav {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .nav-profile{
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .nav-access{
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .material-icons{
    color: black;
    padding: 4px 3px;
    vertical-align: middle;
  }

  .toggle-nav{
    display: none;
  }

  .nav-access{
    margin-top:15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

  .nav-access ul{
    display: inline-flex;

  }

  .nav-access li{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    border-radius: 20px;
    background-color: #E2E2E2;
    vertical-align: middle;
    margin-right: 5px;
  }

  .nav-access a{
    color: black;
    font-weight: bold;
    padding: 7px 20px;
  }

  .nav-access li:hover{
    background-color: #707070;
  }

  /*FINAL navbar*/

  /*INICIO index*/
  .container-ppal {
    max-width: 800px;
    margin:0 auto;
  }

  .container-section{
    justify-content:center;
  }

  .h1-index{
    margin:0 0 1% 0;
  }

  .sub-ppal{
    margin-bottom: 1%;
  }

  .button-play{
    margin-top: 1%;
  }

  /*FINAL index*/

  /*imagen de fondo*/

  .image-t-desktop{
    display: flex;
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }

  .image-t-desktop img{
    width: 90vw;
    margin: 0 auto;
  }

  .image-mobile{
    display:none;
  }

  /*INICIO about*/

  .container-about {
    margin: 0px;
  }

  .carrousel-mobile{
    display: none
  }

  .carrousel-tablet-desktop{
    display: flex;
    width: 90vw;
    height: 250px;
  }

  .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h2-about{
    margin-top:30px;

  }

  /*FINAL about*/

  /* FAQ's*/
  .container{
    margin:0;
  }

  .containerPreguntas{
    margin-top: 7%;
    width: 100vw;
  }

  .buscador{
    width: 70vw;
    margin:10px;
    margin-right: 0px;
  }

  .buscadorEnviar{
    margin-top:10px;
    width: 16vw;
  }
  /* Final FAQ's*/

  /*REGISTER*/
  .col-6{
    max-width: 100%;
  }
  /* Final REGISTER*/

}

/* Inicio Ranking Mobile*/

.blank-wrapper {
  background-color: white;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px !important;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 100px !important;
}

.bootstrap h1 {
  text-align: center;
}

div.container.bootstrap {
  max-width: 1140px;
}

.titulo-seccion {
  color: #707070;
}

.rating {
  float:left;
}
.rating {
  float:left;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:0.9em;
  line-height: auto;
  color:#A8A8A8;
}

.rating>i.estrellita {
  color:#A8A8A8 !important;
}

i.estrellita.active {
  color:#FFD37A !important;
}

.puntaje {
  text-align: right;
  color: #707070;
  font-weight: bolder;
}
.puntaje p {
  font-weight: bold;
  line-height: auto;
  font-size:1.3em;
}
.user-data {
  align-self: center;
}
.user-img {
  margin: 10px auto;
  padding: 15px;
  align-self: center;
}
.light-green {
  background-color: #A2FDC6;
}
/* Final Ranking mobile */


@media (min-width:1024px) {
  .container-ppal {
    max-width: 1200px;
    margin:0 auto;
  }

  .container-section{
    justify-content:center;
    width: 100%;
    height: 85vh;
    height:90vh;
  }

  .carrousel-tablet-desktop{
    display: flex;
    width: 50vw;
  }

  .image-t-desktop img{
    width: 50vw;
  }


  /*INICIO navbar*/
  .nav-profile {
    width: 0px;
    display: flex;
    z-index: 998;
  }

  .nav-profile a{
    color: black;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
  }

  #sidebar {
    padding: 15px 10 0 15px;
  }


  /* INICIO perfil*/

  .sectionPerfil{
    margin-left: 0;
  }

  .tituloPerfil{
    margin-top: 10px;
  }

  .foto-perfil{
    margin: 1% 0;
  }

  .nombre-perfil {
    font-size: 1.2em;
    font-weight: bold;
  }

  .email-perfil{
    font-size: 1em;
  }

  .puntaje-perfil{
    margin-top:1%;
  }

  .estrellas-perfil {
    margin-top:1%;
  }

  /*FINAL Perfil*/

  /* FAQ's*/

  .containerPreguntas{
    margin-top: 5.75%;
  }
  /*FINAL FAQ's*/
  .br-movil{
    display: none;
  }
}


/*category*/

.category-card {
  margin: 0 auto;
  width: 75%;
  display:flex;
  flex-direction:column;
}

.category-text {
  font-size: larger;
  font-weight: bolder;
}

.empezar {
  margin: 3%;
}

body.game {
  margin: 0;
  background-image: none;
  background-color: #6A6FF7;
  width: 100%;
  width: 100%;
  min-width: 440px;
}

.time {
  font-size: larger;
  color: #ffd37a;
  font-style: italic;
}

.game-text-title {
  font-size: larger;
  color: white;
  font-weight: bold;
  display: inline;
}

.game-text-subtitle {
  color: #cbcbcb;
  display: inline;
}

.dark-navbar {
  padding: 10px;
  height: auto;
  background-color: #676767;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-navbar-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
}

.img-navbar {
  padding: 1%;
  margin: auto;
  width: 50px;
  height: 50px;
}

.game-navbar-div-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating-game {
  font-size: 0.5em;
}

.cerrar {
  padding: 1%;
  color: white !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cerrar:hover {
  cursor: pointer;
}

.answer-result {
  font-weight: bold;
  color: white;
  max-width: 350px;
  height: 30px;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  line-height: 0em;
  font-size: 1.3em;
  padding: 7%;
}

.color-incorrect {
  background-color: #ed5251;
}

.color-correct {
  background-color: #29dd53;
}

.correct {
  box-shadow: 0 0 0 0.3rem rgba(41, 221, 83,.9);
}

.incorrect {
  box-shadow: 0 0 0 0.3rem rgba(237, 82, 81,.9);
}

@media (min-width:440px) {
  .category-card {
    width: 25%;
  }
  .answer-result {
    padding: 3%;
    font-size: 1.4em;
  }
}
